 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  background-color: #333;
  color: white;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Campo de pesquisa */
.search-box {
  position: relative;
}

.search-box input[type="text"] {
  padding: 10px;
  width: 600px;
  border: none;
  border-radius: 20px;
  outline: none;
}

/* Ícones de usuário e carrinho */
.user-cart {
  display: flex;
  gap: 20px;
}

.icon {
  cursor: pointer;
}

.breadcrumb {
  position: absolute; /* posiciona a trilha de navegação na lateral */
  top: 15%;
  left: 0;
  transform: translateY(-50%); /* centraliza verticalmente */
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0; /* curva as bordas do lado direito */
}

.breadcrumb p {
  margin: 0; /* remove a margem padrão do <p> */
}

.breadcrumb a {
  text-decoration: none; /* remove o sublinhado do link */
  color: #333;
}

.breadcrumb a:hover {
  text-decoration: underline; /* adiciona sublinhado ao passar o mouse */
}

.ofertas {
  padding-top: 20px;
  padding-left: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.container p {
  margin: 0 47.5px; /* Isso dá uma margem de 7.5px à esquerda e à direita de cada parágrafo, somando 15px de espaço entre eles */
}


.container_2 {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

/* Estilo para o título "Mais Vendidos" e a seção de categorias */
.sidebar {
  width: 20%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 3%;
}

h3 {
  margin-top: 0;
}

/* Estilo para a lista de produtos */
.products {
  width: 72%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  width: 23%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
}

.product-price, .product-name {
  margin: 10px 0;
}

.buy-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

.section_produtos {
  display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
  min-height: 110vh;       /* Toma a altura total da janela de visualização */
}

.products {
  padding-top: 30px;
  width: 1200px;  /* Defina a largura desejada para a seção dos produtos */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.product img {
  width: 250px;
  height: 70px;
  object-fit: cover;  /* Isso vai garantir que a imagem cubra o tamanho definido sem distorcer */
}



.product {
  width: 23%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;  /* Para centralizar os textos dos produtos */
}

.product img {
  width: 100%;
  height: auto;
}

.product-price {
  margin: 10px 0;
  font-weight: 700;
  font-style: bold;
}

.buy-btn {
  background-color:  #25D366;
  border-radius: 15px;
  font-weight: 500;
  color: white;
  border: none;
  padding: 8px 23px;
  cursor: pointer;
}